.containerCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.containerCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerId, .containerNameClient, .containerDateEntry, .containerProducts, .buttonStatus {
    margin-bottom: 8px;
}

.containerId, .containerNameClient, .containerDateEntry {
    font-size: 16px;
    font-weight: 500;
}

.containerProducts {
    display: flex;
    flex-direction: column;
}

.nameProduct, .quantity {
    font-size: 14px;
    margin-bottom: 4px;
}

.buttonStatus {
    align-self: flex-end;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.buttonStatus:hover {
    background-color: #0056b3;
}
